/* styles.css */
* {
  background-color: burlywood;
  font-family: "Lucida Console", "Courier New", monospace;
}

h1 {
  color : darkgreen;
  font-size: xx-large;
  font-weight: 800;
  text-align: center;
  padding-top: 5%;
}
h1.mainpage {
  padding-top: 10%;
}

.img-comment {
  text-align: center;
}

/* images */
.img-container {
  display: flex;
  justify-content: center;
}
.img-container .img-recipe{
  width: 300px;
  height: auto;
}
#chefhat {
  padding-top: 5%;
}
